/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: 				#222;
    font-size: 			1em;
    line-height: 		1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

.selection {
    background: 		#b3d4fc;
    text-shadow: 		none;
}

.selection {
    background: 		#b3d4fc;
    text-shadow: 		none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: 			block;
    height: 			1px;
    border: 			0;
    border-top: 		1px solid #ccc;
    margin: 			1em 0;
    padding: 			0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe, svg{
    vertical-align: 	middle;
	width:				100%;
}


img {
	width:				100%;
	height:				100%;
	display:			block;
}
/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 			0;
    margin: 			0;
    padding:			0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: 			vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 			0.2em 0;
    background: 		#ccc;
    color: 				#000;
    padding: 			0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


@font-face {
   font-family: 		'gt';
   src: url('../fonts/GT-Walsheim-Light.woff') format('woff');           
   font-weight: 		400;
   font-style: 			normal;     
}

html {
	font-family: 		'gt';
	color: 				black;
}

body {
	letter-spacing:		0px;

}

a {
    color: 				#000;
    text-decoration: 	none;
}

h2 {
	font-size:			27px;
	line-height:		1.4em;
	font-weight:		lighter;
	margin-top:			15px;
}

ul {
	float:				left;
	width:				75%;
    height: 			100px;
    list-style-type: 	none;
    margin: 			0;
    padding: 			0px 0px 0px 25px;
    overflow: 			hidden;
}

li {
	display:			inline-block;
	width:				10%;
	height:				auto;
    padding-top: 		1.25em;
	padding-bottom: 	1.25em;
	padding-left: 		1em;
	padding-right: 		1.25em;
    font-size: 			27px;
	font-weight:		lighter;
	color:				#000;
}

@media screen and (max-width: 750px) {
	li {
    font-size:			18px;
    margin-left: 		0 !important;
    margin-top: 		0 !important;
	}
}

nav {
	width: 				100%;
	height: 			100px;
	position: 			fixed;
	display: 			block;
	color: 				#000;
	background-color:	rgba(255,255,255,0);
	opacity: 			0.75;
	z-index: 			900;
	mix-blend-mode: 	difference;
}

.sound {
	float: 				right;
	padding-top: 		1.85em;
	padding-right: 		2.5vw;
	font-size:			125%;
}

.sound a {
 color:					black
}

@media screen and (max-width: 750px) {
	.sound{
	padding-top:		1em;
	font-size:			100%;
	}
}



.fullscreen-bg {
    position: 			absolute;
    top: 				0;
    right: 				0;
    bottom: 			0;
    left:				0;
    overflow: 			hidden;
    z-index: 			-100;
}

.fullscreen-video {
    position: 			absolute;
    top: 				0;
    left: 				0;
    overflow: 			hidden;
    height: 			100%;
}


.fullscreen-overlay {
    position: 			relative;
    z-index: 			1;
    width: 				100%;
    height: 			100vh;
    display: 			-ms-flexbox;
    display: 			flex;
    -ms-flex-align: 	center;
    align-items: 		center;
    top: 				0;
    left: 				0;
    line-height: 		1em;
    line-height:		 1.1;
	mix-blend-mode:		difference;

}

.fullscreen-overlay img {
    width: 				auto;
	height:				auto;
    padding: 			0 1.4rem;
    margin-left: 		5vw;

}

@media screen and (max-width: 750px) {
	.fullscreen-overlay img{
    width:				50vw;
	}
}

#isolate{ 
	isolation:			isolate;
}


.project-grid {
	margin-top:			15vw;
}

@media screen and (max-width: 750px) {
	.project-tile {
    width: 				100% !important;
    margin-left: 		0 !important;
    margin-top: 		0 !important;
	margin-bottom:		7vh;
	}
}

@media screen and (max-width: 750px) {
	.project-tile h2 {
    font-size: 			18px;
	margin-left:		6vw;
	}
}

.project-raf {
	width:				auto;
	margin-left:		20vw;
	margin-right:		20vw;
	margin-bottom:		10vw;
}

.project-chanel {
	width:				35vw;
	float:				left;
	margin-left:		8vw;
	margin-right:		20vw;
}

.project-chanel video {
	width:				100%;
}

.project-tommy {
	width:				35vw;
	float:				right;
	margin-left:		20vw;
	margin-right:		0vw;
	margin-top:			-20vw;
	margin-bottom:		15vw;
}

.project-nike1 {
	width:				90vw;
	float:				none;
	margin-left:		5vw;
	margin-right:		5vw;
	margin-bottom:		15vw;
}

.project-sankuanz {
	width:				60vw;
	float:				right;
	margin-left:		20vw;
	margin-right:		0vw;
}

.project-hermes {
	width:				60vw;
	float:				left;
	margin-left:		0vw;
	margin-right:		20vw;
	margin-top:			10vw;
}

.project-hermes h2 {
	margin-left:		40px;

}

.project-nike2 {
	width:				45vw;
	float:				right;
	margin-left:		20vw;
	margin-right:		8vw;
	margin-top:			10vw;
}

@media screen and (max-width: 750px) {
	.project-nike2 {
	margin-right:		0vw;
	}
}

.project-repossi{
	width:				25vw;
	clear:				both;
	float:				left;
	margin-left:		10vw;
	margin-right:		0vw;
	margin-top:			-10vw;
}

.project-51sprints {
	width:				30vw;
	clear:				both;
	float:				right;
	margin-right:		15vw;
	margin-top:			-10vw;
}

.project-51sprints video {
	width:				100%;
}

.project-iris {
	width:				40vw;
	float:				left;
	margin-left:		0vw;
	margin-right:		20vw;
	margin-top:			0vw;
}

.project-iris h2 {
	margin-left:		40px
}

.project-iris video {
	width:				100%;
}

.project-klm {
	width:				70vw;
	clear:				both;
	float:				right;
	margin-left:		20vw;
	margin-right:		0vw;
	margin-top:			5vw;
	margin-bottom:		15vw;
}

.description {
	max-width:			42em;
	margin:				0 auto;
	margin-bottom:		15vw;

}

.description p {
	float:				none;
	font-size:			36px;
	line-height:		46px;
	letter-spacing:		0px;
}

.description a {
	text-decoration:	underline;
}

@media screen and (max-width: 750px) {
	.description p {
    font-size: 			23px;
	line-height:		28px;
	margin:				15vh 2vh;
	}
}

iframe {
	width:				563px;
	height:				393px;
    border-width: 		0px;
    border-style: 		inset;
    border-color: 		initial;
    border-image: 		initial;
}


footer {
	width:				100%;
	height:				auto;
	clear:				both;
	margin-bottom:		50px;
	
}

footer a {
	border-bottom:		1px solid #000;
	padding-bottom:		2px;
	
}


footer ul {
	display:			inline-block;
	list-style: 		none;
	clear:				both;
	padding:			0 0 50px 40px;
	
}


footer li {
	width:				auto;
	display:			block;
	font-size:			17px;
	clear:				both;
	padding:			0;
}

@media screen and (max-width: 750px) {
	footer {
    margin-left:		6vw;
	}
}

@media screen and (max-width: 750px) {
	footer ul {
    padding: 			0;
	}
}

@media screen and (max-width: 750px) {
	footer li {
    font-size: 			14px;
	}
}

.footer-1 {
	float:				left;
	width:				20vw;
	height:				auto;
	
}

.footer-2 {
	float:				left;
	width:				20vw;	
	height:				auto;
}

@media screen and (max-width: 750px) {
	.footer-1, .footer-2{
    width:				50%;
	}
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display:			 none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: auto;
    clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
